[Unit]
Description=Gunicorn instance to serve MartialComp
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/vhosts/martialcomp.com/httpdocs
Environment="PATH=/var/www/vhosts/martialcomp.com/httpdocs/.venv/bin"
ExecStart=/var/www/vhosts/martialcomp.com/httpdocs/.venv/bin/gunicorn \
    --bind 127.0.0.1:8002 \
    --workers 2 \
    --timeout 30 \
    --access-logfile logs/gunicorn_access.log \
    --error-logfile logs/gunicorn_error.log \
    --log-level info \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target 